openapi: 3.2.0
info:
  title: Tiingo Utilities API
  version: 1.0.0
  description: 'Tiingo''s REST API for financial market data: end-of-day equity prices, IEX intraday, BOATS overnight equity data, consolidated equity realtime snapshots, crypto, crypto yield, forex, fundamentals, mutual fund and ETF fees, corporate actions, curated news, and asset search. Most endpoints return JSON by default and support CSV via the format parameter. Generated by API Evangelist from Tiingo''s published documentation (https://www.tiingo.com/documentation/) - Tiingo does not publish an OpenAPI itself.'
  termsOfService: https://www.tiingo.com/about/terms
  contact:
    name: Tiingo Support
    url: https://www.tiingo.com/support
    email: support@tiingo.com
  x-apievangelist:
    generated: '2026-07-22'
    method: generated
    source: https://apimedia.tiingo.com/dist/src_app_api_documentation_documentation_module_ts-es2015.f5eea3d64917e26bb724.js
servers:
- url: https://api.tiingo.com
security:
- apiTokenHeader: []
- apiTokenQuery: []
tags:
- name: Utilities
paths:
  /tiingo/utilities/search:
    get:
      operationId: searchAssets
      summary: Search for assets by ticker or name
      tags:
      - Utilities
      externalDocs:
        url: https://www.tiingo.com/documentation/utilities/search
      parameters:
      - name: query
        in: query
        required: true
        description: The search query to use to look up assets.
        schema:
          type: string
      - name: exactTickerMatch
        in: query
        required: false
        description: True to only include exact ticker matches based on the search query. If set to true, no partial matches will be included and asset names will not be searched.
        schema:
          type: boolean
      - name: includeDelisted
        in: query
        required: false
        description: True to include delisted tickers and false (default) to exclude delisted tickers.
        schema:
          type: boolean
      - name: limit
        in: query
        required: false
        description: The maximum number of assets to return. Defaults to 10 and can be set to a maximum of 100.
        schema:
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SearchResult'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /api/test:
    get:
      operationId: testConnection
      summary: Test API connectivity and authentication
      tags:
      - Utilities
      externalDocs:
        url: https://www.tiingo.com/documentation/general/connecting
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Confirmation message, e.g. 'You successfully sent a request'.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
components:
  responses:
    TooManyRequests:
      description: Usage limit exceeded. Tiingo limits by hourly requests (reset every hour), daily requests (reset at midnight EST), and monthly bandwidth (reset the first of every month at midnight EST); there is no per-minute or per-second rate limit.
    Unauthorized:
      description: Missing or invalid API token.
  schemas:
    SearchResult:
      type: object
      properties:
        ticker:
          type: string
          description: Ticker of the given asset.
        name:
          type: string
          description: The name of the asset.
        assetType:
          type: string
          description: The asset type of the asset (Stock, ETF, & Mutual Fund).
        isActive:
          type: boolean
          description: True if the ticker is still actively quoted, and false if the ticker is no longer actively quoted (delisted).
        permaTicker:
          type: string
          description: Placeholder for an upcoming change to the Tiingo API that allows querying by permaticker.
        openFIGI:
          type: string
          description: Placeholder for an upcoming change to the Tiingo API that allows querying by the openFIGI ticker.
  securitySchemes:
    apiTokenHeader:
      type: apiKey
      in: header
      name: Authorization
      description: 'Pass your API token in the Authorization header as: Authorization: Token <your-token>.'
    apiTokenQuery:
      type: apiKey
      in: query
      name: token
      description: Pass your API token directly in the request URL via the token query parameter.
externalDocs:
  description: Tiingo API documentation
  url: https://www.tiingo.com/documentation/general/overview
