openapi: 3.2.0
info:
  title: Tiingo Equity Realtime API
  version: 1.0.0
  description: 'Tiingo''s REST API for financial market data: end-of-day equity prices, IEX intraday, BOATS overnight equity data, consolidated equity realtime snapshots, crypto, crypto yield, forex, fundamentals, mutual fund and ETF fees, corporate actions, curated news, and asset search. Most endpoints return JSON by default and support CSV via the format parameter. Generated by API Evangelist from Tiingo''s published documentation (https://www.tiingo.com/documentation/) - Tiingo does not publish an OpenAPI itself.'
  termsOfService: https://www.tiingo.com/about/terms
  contact:
    name: Tiingo Support
    url: https://www.tiingo.com/support
    email: support@tiingo.com
  x-apievangelist:
    generated: '2026-07-22'
    method: generated
    source: https://apimedia.tiingo.com/dist/src_app_api_documentation_documentation_module_ts-es2015.f5eea3d64917e26bb724.js
servers:
- url: https://api.tiingo.com
security:
- apiTokenHeader: []
- apiTokenQuery: []
tags:
- name: Equity Realtime
paths:
  /tiingo/equity/intraday:
    get:
      operationId: getEquityRealtimeTopOfBook
      summary: Get consolidated equity realtime top-of-book snapshot (beta)
      tags:
      - Equity Realtime
      externalDocs:
        url: https://www.tiingo.com/documentation/equity-realtime-stock-data
      parameters:
      - name: tickers
        in: query
        required: false
        description: Ticker related to the asset.
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EquityRealtimeTopOfBook'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /tiingo/equity/intraday/{ticker}/prices:
    get:
      operationId: getEquityRealtimeHistoricalPrices
      summary: Get consolidated equity realtime historical intraday prices (beta)
      tags:
      - Equity Realtime
      externalDocs:
        url: https://www.tiingo.com/documentation/equity-realtime-stock-data
      parameters:
      - name: ticker
        in: path
        required: true
        description: Ticker related to the asset.
        schema:
          type: string
      - name: startDate
        in: query
        required: false
        description: If startDate or endDate is not null, historical data will be queried. This filter limits metrics to on or after the startDate (>=). Parameter must be in YYYY-MM-DD format.
        schema:
          type: string
          format: date
      - name: endDate
        in: query
        required: false
        description: If startDate or endDate is not null, historical data will be queried. This filter limits metrics to on or before the endDate (<=). Parameter must be in YYYY-MM-DD format.
        schema:
          type: string
          format: date
      - name: resampleFreq
        in: query
        required: false
        description: 'This allows you to set the frequency in which you want data resampled. For example "1hour" would return the data where OHLC is calculated on an hourly schedule. The minimum value is "1min". Both units in minutes (min) and hours (hour) are accepted. Format is # + (min/hour); e.g. "15min" or "4hour". If no value is provided, defaults to 5min.'
        schema:
          type: string
      - name: afterHours
        in: query
        required: false
        description: If set to true, includes pre and post market data if available.
        schema:
          type: boolean
      - name: forceFill
        in: query
        required: false
        description: Some tickers do not have a trade/quote update for a given time period. if forceFill is set to true, then the previous OHLC will be used to fill the current OHLC.
        schema:
          type: boolean
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EquityRealtimePriceBar'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
components:
  schemas:
    EquityRealtimePriceBar:
      type: object
      properties:
        date:
          type: string
          format: date-time
          description: The date this data pertains to.
        open:
          type: number
          description: The opening price for the asset on the given date.
        high:
          type: number
          description: The high price for the asset on the given date.
        low:
          type: number
          description: The low price for the asset on the given date.
        close:
          type: number
          description: The closing price for the asset on the given date.
        volume:
          type: integer
          description: The consolidated number of shares traded for the interval. This value will only be exposed if explicitly passed to the "columns" request parameter. E.g. ?columns=open,high,low,close, volume
    EquityRealtimeTopOfBook:
      type: object
      properties:
        ticker:
          type: string
          description: Ticker related to the asset.
        timestamp:
          type: string
          format: date-time
          description: The timestamp the data was last refresh on.
        tngoLast:
          type: number
          description: Tiingo Last is either the last price or mid price. The mid price is only used if our algo determines it is a good proxy for the last price. So if the spread is considered wide by our algo, we do not use it. Also, after the official exchange print comes in, this value changes to that value. This value is calculated by Tiingo from the consolidated equity feed .
        lqRefPrice:
          type: number
          description: The same as tngoLast - mirrored for convenience/consistency as it's better-named for its role in the lq spread metrics.
        prevClose:
          type: number
          description: Previous day's closing price of the security. This can come from the supported consolidated equity market data sources.
        open:
          type: number
          description: The opening price of the asset on the current day This value is calculated by Tiingo from the consolidated equity feed.
        high:
          type: number
          description: The high price of the asset on the current day This value is calculated by Tiingo from the consolidated equity feed.
        low:
          type: number
          description: The low price of the asset on the current day This value is calculated by Tiingo from the consolidated equity feed.
        volume:
          type: integer
          description: Volume will be consolidated intraday volume throughout the day. Once the official closing price comes in, volume may reflect the full official trading day. This field is available for convenience.
        lqSpread:
          type: number
          description: The relative lqBid/Ask spread component of the liquidity risk metric, expressed as a decimal (e.g. 0.04 means 4%). Corresponds to lqSpread in the thresholdLevel 4 websocket liquidity risk metric.
        lqBidPrice:
          type: number
          description: The bid price component of the liquidity risk metric. Corresponds to lqBidPrice in the thresholdLevel 4 websocket liquidity risk metric.
        lqBidSize:
          type: integer
          description: The bid size component of the liquidity risk metric in shares. Corresponds to lqBidSize in the thresholdLevel 4 websocket liquidity risk metric.
        lqAskPrice:
          type: number
          description: The ask price component of the liquidity risk metric. Corresponds to lqAskPrice in the thresholdLevel 4 websocket liquidity risk metric.
        lqAskSize:
          type: integer
          description: The ask size component of the liquidity risk metric in shares. Corresponds to lqAskSize in the thresholdLevel 4 websocket liquidity risk metric.
  responses:
    Unauthorized:
      description: Missing or invalid API token.
    TooManyRequests:
      description: Usage limit exceeded. Tiingo limits by hourly requests (reset every hour), daily requests (reset at midnight EST), and monthly bandwidth (reset the first of every month at midnight EST); there is no per-minute or per-second rate limit.
  securitySchemes:
    apiTokenHeader:
      type: apiKey
      in: header
      name: Authorization
      description: 'Pass your API token in the Authorization header as: Authorization: Token <your-token>.'
    apiTokenQuery:
      type: apiKey
      in: query
      name: token
      description: Pass your API token directly in the request URL via the token query parameter.
externalDocs:
  description: Tiingo API documentation
  url: https://www.tiingo.com/documentation/general/overview
