openapi: 3.2.0
info:
  title: Tiingo Crypto Yield API
  version: 1.0.0
  description: 'Tiingo''s REST API for financial market data: end-of-day equity prices, IEX intraday, BOATS overnight equity data, consolidated equity realtime snapshots, crypto, crypto yield, forex, fundamentals, mutual fund and ETF fees, corporate actions, curated news, and asset search. Most endpoints return JSON by default and support CSV via the format parameter. Generated by API Evangelist from Tiingo''s published documentation (https://www.tiingo.com/documentation/) - Tiingo does not publish an OpenAPI itself.'
  termsOfService: https://www.tiingo.com/about/terms
  contact:
    name: Tiingo Support
    url: https://www.tiingo.com/support
    email: support@tiingo.com
  x-apievangelist:
    generated: '2026-07-22'
    method: generated
    source: https://apimedia.tiingo.com/dist/src_app_api_documentation_documentation_module_ts-es2015.f5eea3d64917e26bb724.js
servers:
- url: https://api.tiingo.com
security:
- apiTokenHeader: []
- apiTokenQuery: []
tags:
- name: Crypto Yield
paths:
  /tiingo/crypto-yield/platforms:
    get:
      operationId: listCryptoYieldPlatforms
      summary: List crypto yield platforms
      tags:
      - Crypto Yield
      externalDocs:
        url: https://www.tiingo.com/documentation/crypto
      parameters:
      - name: platformCodes
        in: query
        required: false
        description: A list of platform codes to constrain the output to the given platforms. If passing it as a string in the URL, it can be a comma-separated list.
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/YieldPlatform'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /tiingo/crypto-yield/pools:
    get:
      operationId: listCryptoYieldPools
      summary: List crypto yield pools
      tags:
      - Crypto Yield
      externalDocs:
        url: https://www.tiingo.com/documentation/crypto
      parameters:
      - name: poolCodes
        in: query
        required: false
        description: The pool code(s) associated with the Yield Pool. Can either be a single string or an array of strings (string[]). If no pool code(s) are passed, returns data for all supported yield pools.
        schema:
          type: string
      - name: platformCodes
        in: query
        required: false
        description: The platform code(s) associated with the Yield Pools that you would like to constrain the output by. Can either be a single string or an array of strings (string[]). If no platform code(s) are passed, returns data for all supported yield pools for all platforms.
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/YieldPool'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /tiingo/crypto-yield/ticks:
    get:
      operationId: getCryptoYieldTicks
      summary: Get latest crypto yield metric ticks
      tags:
      - Crypto Yield
      externalDocs:
        url: https://www.tiingo.com/documentation/crypto
      parameters:
      - name: poolCodes
        in: query
        required: false
        description: The pool code(s) associated with the Yield Pool. Can either be a single string or an array of strings (string[]). If no pool code(s) are passed, returns data for all supported yield pools.
        schema:
          type: string
      - name: platformCodes
        in: query
        required: false
        description: The platform code(s) associated with the Yield Pools that you would like to constrain the output by. Can either be a single string or an array of strings (string[]). If no platform code(s) are passed, returns data for all supported yield pools for all platforms.
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/YieldTick'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /tiingo/crypto-yield/{poolCode}/metrics:
    get:
      operationId: getCryptoYieldMetrics
      summary: Get historical yield metrics for a pool
      tags:
      - Crypto Yield
      externalDocs:
        url: https://www.tiingo.com/documentation/crypto
      parameters:
      - name: poolCode
        in: path
        required: true
        description: The pool code associated with the yield pool. Must be a single pool code.
        schema:
          type: string
      - name: startDate
        in: query
        required: false
        description: If startDate or endDate is not null, historical data will be queried. This filter limits metrics to on or later than the startDate (>=). Parameter must be in YYYY-MM-DD format.
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        required: false
        description: f startDate or endDate is not null, historical data will be queried. This filter limits metrics to on or less than the endDate (<=). Parameter must be in YYYY-MM-DD format.
        schema:
          type: string
          format: date-time
      - name: resampleFreq
        in: query
        required: false
        description: 'This allows you to set the frequency in which you want data resampled. For example "1hour" would return the data where OHLC is calculated on an hourly schedule. The minimum value is "1min". Units in minutes (min), hours (hour), and days (day) are accepted. Format is # + (min/hour/dau); e.g. "15min", "4hour" or "1day". If no value is provided, defaults to 5min.'
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/YieldMetrics'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
components:
  schemas:
    YieldMetrics:
      type: object
      properties:
        date:
          type: string
          format: date-time
          description: The datetime this data pertains to. It will be a timestamp dependent upon the resampleFreq parameter. For example, if resampleFreq=5min, it will be in 5 min increments.
        openVariableBorrowRate:
          type: number
          description: The open variable borrow rate on the given date.
        highVariableBorrowRate:
          type: number
          description: The high variable borrow rate on the given date.
        lowVariableBorrowRate:
          type: number
          description: The low variable borrow rate on the given date.
        closeVariableBorrowRate:
          type: number
          description: The close variable borrow rate on the given date.
        openStableBorrowRate:
          type: number
          description: The open stable borrow rate on the given date.
        highStableBorrowRate:
          type: number
          description: The high stable borrow rate on the given date.
        lowStableBorrowRate:
          type: number
          description: The low stable borrow rate on the given date.
        closeStableBorrowRate:
          type: number
          description: The close stable borrow rate on the given date.
        openTotalVariableBorrowAmount:
          type: number
          description: The open variable borrow amount on the given date.
        highTotalVariableBorrowAmount:
          type: number
          description: The high variable borrow amount on the given date.
        lowTotalVariableBorrowAmount:
          type: number
          description: The low variable borrow amount on the given date.
        closeTotalVariableBorrowAmount:
          type: number
          description: The close variable borrow amount on the given date.
        openTotalStableBorrowAmount:
          type: number
          description: The open supply rate on the given date.
        highTotalStableBorrowAmount:
          type: number
          description: The high supply rate on the given date.
        lowTotalStableBorrowAmount:
          type: number
          description: The low supply rate on the given date.
        closeTotalStableBorrowAmount:
          type: number
          description: The close supply rate on the given date.
        openTotalBorrowAmount:
          type: number
          description: The open total borrow amount on the given date (total = stable amount + variable amount).
        highTotalBorrowAmount:
          type: number
          description: The high total borrow amount on the given date (total = stable amount + variable amount).
        lowTotalBorrowAmount:
          type: number
          description: The low total borrow amount on the given date (total = stable amount + variable amount).
        closeTotalBorrowAmount:
          type: number
          description: The close total borrow amount on the given date (total = stable amount + variable amount).
        openSupplyRate:
          type: number
          description: The open supply rate on the given date.
        highSupplyRate:
          type: number
          description: The high supply rate on the given date.
        lowSupplyRate:
          type: number
          description: The low supply rate on the given date.
        closeSupplyRate:
          type: number
          description: The close supply rate on the given date.
        openTotalSupplyAmount:
          type: number
          description: The open total supply amount on the given date.
        highTotalSupplyAmount:
          type: number
          description: The high total supply amount on the given date.
        lowTotalSupplyAmount:
          type: number
          description: The low total supply amount on the given date.
        closeTotalSupplyAmount:
          type: number
          description: The close total supply amount on the given date.
        openAvailableLiquidityAmount:
          type: number
          description: The open total available liquidity amount on the given date (amount that can be borrowed).
        highAvailableLiquidityAmount:
          type: number
          description: The high total supply amount on the given date (amount that can be borrowed).
        lowAvailableLiquidityAmount:
          type: number
          description: The low total supply amount on the given date (amount that can be borrowed).
        closeAvailableLiquidityAmount:
          type: number
          description: The close total supply amount on the given date (amount that can be borrowed).
        changesDetected:
          type: integer
          description: The number of changes detected for any of the above variables on blockchain during the resample window.
    YieldTick:
      type: object
      properties:
        date:
          type: string
          format: date-time
          description: The datetime this data pertains to. It will be a timestamp dependent upon the resampleFreq parameter. For example, if resampleFreq=5min, it will be in 5 min increments.
        poolCode:
          type: string
          description: A unique identifier mapped to this pool that can be used to query metric and tick data throughout the API.
        variableBorrowRate:
          type: number
          description: The variable borrow rate (multiply by 100 for percentage).
        totalStableBorrowAmount:
          type: number
          description: The stable borrow rate (multiply by 100 for percentage).
        totalVariableBorrowAmount:
          type: number
          description: The amount borrowed subject to the variable borrow rate.
        totalBorrowAmount:
          type: number
          description: The total amount borrowed (total = stable amount + variable amount)
        supplyRate:
          type: number
          description: The supply rate (multiply by 100 for percentage).
        totalSupplyAmount:
          type: number
          description: The close total supply amount on the given date.
        availableLiquidityAmount:
          type: number
          description: The amount of liquidity available that can be borrowed.
    YieldPool:
      type: object
      properties:
        name:
          type: string
          description: Name of the yield pool.
        poolCode:
          type: string
          description: A unique identifier mapped to this pool that can be used to query metric and tick data throughout the API.
        yieldPlatform:
          type: string
          description: The Yield Platform this pool belongs to. The value will be the platformCode of the corresponding Yield Platform..
        borrowRateDenomination:
          type: string
          description: The cryptocurrency, or token, the borrow rate is denominated in.
        totalBorrowDenomination:
          type: string
          description: The cryptocurrency, or token, the borrow amount is denominated in.
        supplyRateDenomination:
          type: string
          description: The cryptocurrency, or token, the supply rate is denominated in.
        totalSupplyDenomination:
          type: string
          description: The cryptocurrency, or token, the supply amount is denominated in.
    YieldPlatform:
      type: object
      properties:
        name:
          type: string
          description: Formatted name of the Yield Platform.
        platformCode:
          type: string
          description: A unique identifier for the Yield Platform that can be used throughout the API to map Yield Pools to the given Platform. Similar to exchangeCode in the equity endpoints.
        network:
          type: string
          description: The network this platform belongs to. E.g. ETH for mainnet, AVAX for Avalanche, SOL, for Solana.".
  responses:
    Unauthorized:
      description: Missing or invalid API token.
    TooManyRequests:
      description: Usage limit exceeded. Tiingo limits by hourly requests (reset every hour), daily requests (reset at midnight EST), and monthly bandwidth (reset the first of every month at midnight EST); there is no per-minute or per-second rate limit.
  securitySchemes:
    apiTokenHeader:
      type: apiKey
      in: header
      name: Authorization
      description: 'Pass your API token in the Authorization header as: Authorization: Token <your-token>.'
    apiTokenQuery:
      type: apiKey
      in: query
      name: token
      description: Pass your API token directly in the request URL via the token query parameter.
externalDocs:
  description: Tiingo API documentation
  url: https://www.tiingo.com/documentation/general/overview
