openapi: 3.2.0
info:
  title: Tiingo Fund Fees API
  version: 1.0.0
  description: 'Tiingo''s REST API for financial market data: end-of-day equity prices, IEX intraday, BOATS overnight equity data, consolidated equity realtime snapshots, crypto, crypto yield, forex, fundamentals, mutual fund and ETF fees, corporate actions, curated news, and asset search. Most endpoints return JSON by default and support CSV via the format parameter. Generated by API Evangelist from Tiingo''s published documentation (https://www.tiingo.com/documentation/) - Tiingo does not publish an OpenAPI itself.'
  termsOfService: https://www.tiingo.com/about/terms
  contact:
    name: Tiingo Support
    url: https://www.tiingo.com/support
    email: support@tiingo.com
  x-apievangelist:
    generated: '2026-07-22'
    method: generated
    source: https://apimedia.tiingo.com/dist/src_app_api_documentation_documentation_module_ts-es2015.f5eea3d64917e26bb724.js
servers:
- url: https://api.tiingo.com
security:
- apiTokenHeader: []
- apiTokenQuery: []
tags:
- name: Fund Fees
paths:
  /tiingo/funds/{ticker}:
    get:
      operationId: getFundFees
      summary: Get latest mutual fund / ETF fee data for a fund
      tags:
      - Fund Fees
      externalDocs:
        url: https://www.tiingo.com/documentation/mutual-fund-and-etf-fees
      parameters:
      - name: tickers
        in: query
        required: false
        description: Ticker related to the fund.
        schema:
          type: string
      - name: ticker
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundFees'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /tiingo/funds/{ticker}/metrics:
    get:
      operationId: getFundFeeMetrics
      summary: Get historical fee metrics for a fund
      tags:
      - Fund Fees
      externalDocs:
        url: https://www.tiingo.com/documentation/mutual-fund-and-etf-fees
      parameters:
      - name: ticker
        in: path
        required: true
        description: Ticker related to the asset.
        schema:
          type: string
      - name: startDate
        in: query
        required: false
        description: If startDate or endDate is not null, historical data will be queried. This filter limits metrics to on or after the startDate (>=). Parameter must be in YYYY-MM-DD format.
        schema:
          type: string
          format: date
      - name: endDate
        in: query
        required: false
        description: If startDate or endDate is not null, historical data will be queried. This filter limits metrics to on or before the endDate (<=). Parameter must be in YYYY-MM-DD format.
        schema:
          type: string
          format: date
      - name: resampleFreq
        in: query
        required: false
        description: 'his allows you to set the frequency in which you want data resampled. For example "1hour" would return the data where OHLC is calculated on an hourly schedule. The minimum value is "1min". Both units in minutes (min) and hours (hour) are accepted. Format is # + (min/hour); e.g. "15min" or "4hour". If no value is provided, defaults to 5min.'
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundFeeMetrics'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
components:
  schemas:
    FundFeeMetrics:
      type: object
      properties:
        prospectusDate:
          type: string
          format: date
          description: The prospectus date when the corresponding fund expense data was published.
        netExpense:
          type: number
          description: Fund's net expense ratio, or the net expenses related to the fund.
        grossExpense:
          type: number
          description: Fund's gross expense ratio, or the expenses related to running the fund.
        managementFee:
          type: number
          description: Fund's management fee, or the fees paid to the manager and/or advisors.
        12b1:
          type: number
          description: Fund's fee related to marketing expenses.
        non12b1:
          type: number
          description: Fund's fee related to distribution and smilar non 12b-1 fees.
        otherExpenses:
          type: number
          description: Fund's other expenses, or expenses related to legal, adminstrative, custodial, etc.
        acquiredFundFees:
          type: number
          description: Fund's acquired fund fees, or expenses related to underlying businesses or funds.
        feeWaiver:
          type: number
          description: Fund's fee waiver, or discount on fees.
        exchangeFeeUSD:
          type: number
          description: Fund's exchange fee if charged in USD, or expenses related to exchanging or transferring funds to another fund in the fund's family.
        exchangeFeePercent:
          type: number
          description: Fund's exchange fee if charged as a percentage, or expenses related to exchanging or transferring funds to another fund in the fund's family.
        frontLoad:
          type: number
          description: Fund's front load fee, or the upfront fee charged when investing in the fund.
        backLoad:
          type: number
          description: Fund's back load fee, or the back-end fee charged when redeeming from the fund.
        dividendLoad:
          type: number
          description: Dividend load fee, or charges on reinvested dividends.
        shareholderFee:
          type: number
          description: Fund's shareholder fees, or the potential fees when buying/selling a fund.
        accountFeeUSD:
          type: number
          description: Fund's account fees if charged in USD, or the fee required to maintain your account in USD.
        accountFeePercent:
          type: number
          description: Fund's account fees if charged as a percentage, or the fee required to maintain your account in percentage terms.
        redemptionFeeUSD:
          type: number
          description: Fund's redemption fees if charged in USD, or the fee charged if funds are redeemed early (as defined by the fund company).
        redemptionFeePercent:
          type: number
          description: Fund's redemption fees as a percentage, or the fee charged if funds are redeemed early (as defined by the fund company).
        portfolioTurnover:
          type: number
          description: Portfolio turnover.
        miscFees:
          type: number
          description: Fund's miscellaneous fees.
        customFees:
          type: array
          items:
            type: object
          description: Fund's custom fees. For a full breakdown, see the table below.
    FundFees:
      type: object
      properties:
        ticker:
          type: string
          description: Ticker related to the fund.
        name:
          type: string
          description: Full-length name of the fund.
        description:
          type: string
          description: Long-form descripton of the fund.
        shareClass:
          type: string
          description: Share class of the fund as described by the parent fund company.
        netExpense:
          type: number
          description: The top-level net expense ratio for the fund.
        otherShareClasses:
          type: array
          items:
            type: object
          description: An array of objects representing related share classes of the given fund. See below for the object defintion table.
  responses:
    Unauthorized:
      description: Missing or invalid API token.
    TooManyRequests:
      description: Usage limit exceeded. Tiingo limits by hourly requests (reset every hour), daily requests (reset at midnight EST), and monthly bandwidth (reset the first of every month at midnight EST); there is no per-minute or per-second rate limit.
  securitySchemes:
    apiTokenHeader:
      type: apiKey
      in: header
      name: Authorization
      description: 'Pass your API token in the Authorization header as: Authorization: Token <your-token>.'
    apiTokenQuery:
      type: apiKey
      in: query
      name: token
      description: Pass your API token directly in the request URL via the token query parameter.
externalDocs:
  description: Tiingo API documentation
  url: https://www.tiingo.com/documentation/general/overview
