openapi: 3.2.0
info:
  title: Tiingo Corporate Actions API
  version: 1.0.0
  description: 'Tiingo''s REST API for financial market data: end-of-day equity prices, IEX intraday, BOATS overnight equity data, consolidated equity realtime snapshots, crypto, crypto yield, forex, fundamentals, mutual fund and ETF fees, corporate actions, curated news, and asset search. Most endpoints return JSON by default and support CSV via the format parameter. Generated by API Evangelist from Tiingo''s published documentation (https://www.tiingo.com/documentation/) - Tiingo does not publish an OpenAPI itself.'
  termsOfService: https://www.tiingo.com/about/terms
  contact:
    name: Tiingo Support
    url: https://www.tiingo.com/support
    email: support@tiingo.com
  x-apievangelist:
    generated: '2026-07-22'
    method: generated
    source: https://apimedia.tiingo.com/dist/src_app_api_documentation_documentation_module_ts-es2015.f5eea3d64917e26bb724.js
servers:
- url: https://api.tiingo.com
security:
- apiTokenHeader: []
- apiTokenQuery: []
tags:
- name: Corporate Actions
paths:
  /tiingo/corporate-actions/{ticker}/distribution-yield:
    get:
      operationId: getDistributionYield
      summary: Get trailing distribution yield for a ticker
      tags:
      - Corporate Actions
      externalDocs:
        url: https://www.tiingo.com/documentation/corporate-actions/dividends
      parameters:
      - name: ticker
        in: path
        required: true
        description: Ticker related to the asset you would like yield data for.
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DistributionYield'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /tiingo/corporate-actions/{ticker}/distributions:
    get:
      operationId: getTickerDistributions
      summary: Get dividend distributions for a ticker
      tags:
      - Corporate Actions
      externalDocs:
        url: https://www.tiingo.com/documentation/corporate-actions/dividends
      parameters:
      - name: ticker
        in: path
        required: true
        description: Ticker related to the asset you would like distribution data for.
        schema:
          type: string
      - name: startExDate
        in: query
        required: false
        description: This filter limits distributions that have an ex-date >= on the date passed. Parameter must be in YYYY-MM-DD format.
        schema:
          type: string
          format: date
      - name: endExDate
        in: query
        required: false
        description: This filter limits distributions that have an ex-date <= on the date passed. Parameter must be in YYYY-MM-DD format.
        schema:
          type: string
          format: date
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Distribution'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /tiingo/corporate-actions/distributions:
    get:
      operationId: getBulkDistributions
      summary: Get dividend distributions across all tickers for an ex-date
      tags:
      - Corporate Actions
      externalDocs:
        url: https://www.tiingo.com/documentation/corporate-actions/dividends
      parameters:
      - name: exDate
        in: query
        required: false
        description: This filter limits distributions that have an ex-date on the date passed. Parameter must be in YYYY-MM-DD format.
        schema:
          type: string
          format: date
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Distribution'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /tiingo/corporate-actions/{ticker}/splits:
    get:
      operationId: getTickerSplits
      summary: Get split corporate actions for a ticker
      tags:
      - Corporate Actions
      externalDocs:
        url: https://www.tiingo.com/documentation/corporate-actions/splits
      parameters:
      - name: ticker
        in: path
        required: true
        description: Ticker related to the asset you would like distribution data for.
        schema:
          type: string
      - name: startExDate
        in: query
        required: false
        description: This filter limits distributions that have an ex-date >= on the date passed. Parameter must be in YYYY-MM-DD format.
        schema:
          type: string
          format: date
      - name: endExDate
        in: query
        required: false
        description: This filter limits distributions that have an ex-date <= on the date passed. Parameter must be in YYYY-MM-DD format.
        schema:
          type: string
          format: date
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Split'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /tiingo/corporate-actions/splits:
    get:
      operationId: getBulkSplits
      summary: Get split corporate actions across all tickers for an ex-date
      tags:
      - Corporate Actions
      externalDocs:
        url: https://www.tiingo.com/documentation/corporate-actions/splits
      parameters:
      - name: exDate
        in: query
        required: false
        description: This filter limits distributions that have an ex-date on the date passed. Parameter must be in YYYY-MM-DD format.
        schema:
          type: string
          format: date
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Split'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
components:
  schemas:
    Split:
      type: object
      properties:
        permaTicker:
          type: string
          description: The Tiingo permaticker.
        ticker:
          type: string
          description: Ticker related to the asset.
        exDate:
          type: string
          format: date-time
          description: The ex-Date of the split. In the Tiingo EOD Endpoints, this is the date where "splitFactor" will not be 1.0. This is also the date used for split adjustments.
        splitFrom:
          type: number
          description: The prior split ratio.
        splitTo:
          type: number
          description: The new split ratio, i.e. how many shares of "splitTo" are given for each share of "splitFrom".
        splitFactor:
          type: number
          description: 'The ratio of splitTo from splitFrom . In other words: splitFactor = splitTo/splitFrom This ratio is helpful in calculating split price adjustments.'
        splitStatus:
          type: string
          description: 'A code representing the status of split a : Active c : Cancelled'
    DistributionYield:
      type: object
      properties:
        date:
          type: string
          format: date-time
          description: Date associated with the yield.
        trailingDiv1Y:
          type: string
          description: The trailing distribution yield for the asset based on the previous 1 year of distributions.
    Distribution:
      type: object
      properties:
        permaTicker:
          type: string
          description: The Tiingo permaticker.
        ticker:
          type: string
          description: Ticker related to the asset.
        exDate:
          type: string
          format: date-time
          description: The ex-Date of the distribution. In the Tiingo EOD Endpoints, this is the date where "divCash" will be non-zero. This is also the date used for dividend price adjustments.
        paymentDate:
          type: string
          format: date-time
          description: The payment date of the distribution.
        recordDate:
          type: string
          format: date-time
          description: The record date of the distribution.
        declarationDate:
          type: string
          format: date-time
          description: The declaration date of the distribution.
        distribution:
          type: number
          description: The total distribution for the given date.
        distributionFreqency:
          type: string
          description: 'The frequency that''s associated with this distribution. For example "q" means quarterly, meaning this is a declared quarterly distribution. The full list of codes is available here: w : Weekly bm : Bimonthly m : Monthly tm : Trimesterly q : Quarterly sa : Semiannually a : Annually ir : Irregular f : Final u : Unspecified c : Cancelled'
  responses:
    Unauthorized:
      description: Missing or invalid API token.
    TooManyRequests:
      description: Usage limit exceeded. Tiingo limits by hourly requests (reset every hour), daily requests (reset at midnight EST), and monthly bandwidth (reset the first of every month at midnight EST); there is no per-minute or per-second rate limit.
  securitySchemes:
    apiTokenHeader:
      type: apiKey
      in: header
      name: Authorization
      description: 'Pass your API token in the Authorization header as: Authorization: Token <your-token>.'
    apiTokenQuery:
      type: apiKey
      in: query
      name: token
      description: Pass your API token directly in the request URL via the token query parameter.
externalDocs:
  description: Tiingo API documentation
  url: https://www.tiingo.com/documentation/general/overview
